@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --background: #141517;
    --fundo-botao: #F5F7F9;
    --branco: #ffffff;
    --preto: #000000;
    --fonte-principal: 'Inter', sans-serif;
}

body {
    background: var(--background);
    font-family: var(--fonte-principal);
    color: var(--branco);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.register{
    max-width: 810px;
    width: 810px;
    margin: 0 5vh;
}

.title h1{
    font-size: 20px;
}

.title h2{
    color: #7F7F7F;
    margin-top: 2vh;
    font-size: 18px;
}

.title strong{
    font-weight: bold;
}

.formulario{
    margin-top: 5vh;
}

.informationForm{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.informationForm input{
    height: 48px;
    padding-left: 15px;
    background-color: #242424;
    border: 1px solid #3D3D3D;
    border-radius: 4px;
    color: white;
}

.informationForm input::placeholder{
    color: #7F7F7F;
    font-size: 16px;
}

.terms{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.terms a{
    text-decoration: none;
    color: #4B72C2;
}

.terms input[type=checkbox]{
    width: 24px;
    height: 24px;
    appearance: none;
    background-color: #242424;
    border: 1px solid #3D3D3D;
    border-radius: 4px;
}

.terms input[type=checkbox]:checked{
    background-color: #5C19CC;
}

.terms label{
    color: #7F7F7F;
    margin-left: 8px;
}

.botao{
    margin-top: 30px;
}

.botao input{
    width: 200px;
    height: 48px;
    background-color: #5C19CC;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4px;
}